<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tournax.pck">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TournaX">
        <activity android:name=".Wallet" />
        <activity android:name=".AboutUs" />
        <activity android:name=".JoinForm" />
        <activity android:name=".JoinTournament" />
        <activity android:name=".Store" />
        <activity android:name=".Settings" />
        <activity android:name=".MyTournaments" />
        <activity android:name=".Gallery_activity" />
        <activity android:name=".Rank_activity" />
        <activity android:name=".Inbox_activity" />
        <activity android:name=".Profile_activity" />
        <activity android:name=".Create_Tournament2" />
        <activity android:name=".Create_Tournament" />
        <activity android:name=".Home_page" />
        <activity android:name=".SignUp" />
        <activity android:name=".Signin" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>